body{
    margin: 0;
    padding: 0;
}
header, footer{
    min-height: 100px;
    background-color: antiquewhite;
}
main{
    min-height: 500px;
    background-color: aquamarine;
}
@media screen and (min-width:650px){
    header, footer{background-color: blueviolet;}
    main{background-color: rgb(77, 22, 165);}
    main div{
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Creative-Tail-Animal-mouse.svg/128px-Creative-Tail-Animal-mouse.svg.png);
        
}

@media screen and (min-width:651px) and (max-width:900px) {
    header, footer{background-color: blueviolet;}

    main{background-color: rgb(77, 22, 165);}
    main div{
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/30/Borneoelephants.jpg);
        /* width: 100%;
        height: 200px;
        background-repeat: no-repeat; */
    }
}