.stack-1{display:flex;}

.stack-2{
  display:flex;
  flex-direction:row-reverse;
}

.stack-3{
  display:flex;
  flex-wrap:wrap;
}

.stack-4{
 display:flex;
 justify-content:center;
 align-items:center;
}

.stack-5{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}
.stack-5 .block{flex-grow:1;}

.stack-6{
  display:flex;
  flex-direction:column;
}
.stack-6 .block{
  width:100%;
  flex-grow:1;
}

.stack-7{
  display:flex;
}
.stack-7 .block:nth-child(3){margin-left:auto;}

.stack-8{
  display:flex;
  flex-wrap:wrap;
}
.stack-8 .block:nth-child(1){flex-basis:calc(30% - 4px);}
.stack-8 .block:nth-child(2){flex-basis:calc(70% - 4px);}
.stack-8 .block:nth-child(3){flex-basis:calc(50% - 4px);}
.stack-8 .block:nth-child(4){flex-basis:calc(50% - 4px);}

.stack-9{
  display:flex;
  flex-wrap:wrap;
}
.stack-9 .block:nth-child(1){
  flex-basis:calc(100% - 0px);
  order:-1;
}
.stack-9 .block:nth-child(2){
  flex-basis:calc(30% - 4px);
  order:-1;
}
.stack-9 .block:nth-child(3){
  flex-basis:calc(30% - 4px);
  order:1;
}
.stack-9 .block:nth-child(4){
  flex-basis:calc(20% - 4px);
  order:-1;
}
.stack-9 .block:nth-child(5){
  flex-basis:calc(20% - 4px);
  order:-1;
}
.stack-9 .block:nth-child(6){
  flex-basis:calc(100% - 0px);
  order:1
}