/* 
Set the default for the html */
html{
    font-family: "Microsoft YaHei", Arial, sans-serif;
    background-color: antiquewhite;
    font-size: 16px;
    box-sizing: border-box;
}
  *,
  *:before,
  *:after{
    box-sizing: inherit;
  }
h2{
    font-size: 1.8rem;
}
h3{
    font-size: 1.5rem;
}
/* To adjust the title */
h1{
    position: absolute;
    text-align: center;
    color: rgb(255, 255, 255);
    background: #ffffff48;
    width: 100%;
    font-size: 80px;
    top: 50%;
}
.container{
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.imga{
    width: 100%;
    background-color: rgb(83, 63, 38);
    max-height: 500px;
}

/* To adjust the navigation */
.nav{
    position: relative;
    width: 80%;
    font-size: 2rem;
    font-weight: 900;
    margin: 0 auto;  
}
span{
    display: inline-block;
    background-color: #000000;
    width: 1px;
    height: 30px;
}
a{
    display: inline-block;
    width: 32.2%;
    color: black;
    text-align: center;
    text-decoration: none;
}

/* to adjust the main */
main{
    position: relative;
    width: 80%;
    margin: 0 auto;  
    background-color: aliceblue; 
    padding: 2%;
}
.imgb{
    float: left;
    width: 30%;
}
.fontweight{
    font-size: 2rem;
    font-weight: 900;
}
p{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: justify;
}


ul{ font-size: 1.2rem;
    font-weight: 600;
    text-align: justify;
    line-height: 2rem;
}

/* 
To adjust the form */
form{
    font-size: 1.5rem;
    font-weight: 600;
    border: 2px #000000 solid;
    padding: 1.5%;
    margin: 20px;
}
#email, #name{
    width: 100%;
    height: 30px;
}
#message
{
    width: 100%;
    height: 100px;
}
#send{
    font-size: 1.2rem;
    background-color: blanchedalmond;
    padding: 10px;
    
}


.f{
    font-size: 1rem;
    text-align: right;
    padding: 10px;
}