body{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
footer, header{
    background-color: aqua;
}
.site-title{
    color: rgb(169, 28, 212);
}
#my-image{
    box-shadow:black 0px 0px 2px 1px ;
}
ul{
    list-style-type: square;
}
.hobby li:nth-child(odd) {
    background-color: gray;
}
nav ul{
    list-style-type: none;
    
    
}
nav ul a{
    text-decoration-line: none;
    background-color: chocolate;
    border: 1rem solid red;
}
nav ul a:hover{
    text-decoration-line: none;
    background-color: rgb(9, 189, 221);
    border: 1rem solid rgb(68, 0, 255);
}
form{
    padding: 10px;
    width: 180px;
    background-color: chocolate;
    border: 1rem solid red;
}
form:hover{
    padding: 10px;
    width: 180px;
    background-color: rgb(30, 183, 210);
    border: 1rem solid rgb(195, 0, 255);
}